body {
	text-align: center;
}

h1#index {font-size:4em;}

.container {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: auto auto auto auto auto;
	grid-column-gap: 2vw;
	grid-row-gap: 2vw;
	width: 80%;
	margin: auto;
	align-items: center;
	justify-items: center;
}

.container#index {
	display:flex;
	flex-flow:column;
	font-size:2em;
}

form.container {
	display:flex;
	flex-flow:column;
}

.container#edit {
	grid-template-columns: auto auto;
	grid-template-rows: auto;
}

.container#edit:last-child {grid-template-columns: auto auto auto;}

input[type=checkbox] {
	display: none;
}

input:checked + label {
	text-decoration: line-through;
}

.animate-bottom {
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1s
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
